<component name="ArtifactManager">
  <artifact type="war" name="springBootStudy:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springBootStudy.war">
      <element id="artifact" artifact-name="springBootStudy:war exploded" />
    </root>
  </artifact>
</component>